{% extends "html/base.html" %}
{% load static %}

{% block title %}PassCollectorExample{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
{% block navigation %}
<div class="container-fluid">
    <div class="row">
            <div class=" col-xl-12 navbar-container navigation ">
                    <nav class="navbar navbar-light col-lg-8 offset-lg-2">
                <a class="navbar-brand" href="/"><img src="{% static 'pictures/logo1.png' %}" alt=""></a>
                
                <div class="nav_links navbar-right collapse d-md-block" id="navbarToggleExternalContent">
                  <a href="{% url 'login' %}" class="nav_link nav_link1 ">Login
                    <span class="tooltiptext_of_link1">Login to your account</span>
                  </a>
                  <a href="/example/" class="nav_link nav_link2 ">Example
                      <span class="tooltiptext_of_link2">Example page</span>
                  </a>
                  
                </div>
                <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </div>
</div>

{% endblock %}



{% block content %}
<div class="wrapper">
  <main class="container ">
    <div class="container__passwords text-center">
        <h2 class="header pt-5 ">You have been logged out</h2>
        <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'home' %}" class="ml-2">Back to main page</a>
                </small>
        </div>
    </div>
  </main>
</div>
{% endblock %}

{% block footer %}

  <footer class="page-footer font-small page_footer">
    <div class="conntainer-fluid text-center page_footer_content">For any questions: <a href="storminside4766778@gmail.com">mail</a></div>
  </footer>

{% endblock %}

{% block scripts %}

{% endblock %}